Repository reactjs/ko.react.dev, pull requests merged in 2019-07, with the labels that each got.

#122 Translate components/LayoutFooter
  src/components/LayoutFooter/Footer.js
Labels: needs +1 approval, ready to merge

#158 Fix typo
  content/docs/hooks-intro.md
Labels: ready to merge

#157 Update hooks-intro.md
  content/docs/hooks-intro.md
Labels: needs +1 approval

#159 Fix typo in create-a-new-react-app section
  content/docs/create-a-new-react-app.md
Labels: needs +1 approval

#105 Translate FAQ > Passing Functions to Components
  content/docs/faq-functions.md
Labels: needs +1 approval

#107 Translate FAQ > File Structure
  content/docs/faq-structure.md
Labels: ready to merge
