Repository reactjs/ko.react.dev, pull requests merged in 2019-05, with the labels that each got.

#106 Change DocSearch API key
  src/components/LayoutHeader/DocSearch.js
Labels: needs +1 approval

#70 Translate unknown-prop
  content/warnings/unknown-prop.md
Labels: ready to merge

#69 Translate refs-must-have-owner
  content/warnings/refs-must-have-owner.md
Labels: ready to merge

#77 Translation for thinking in react
  content/docs/thinking-in-react.md
Labels: ready to merge

#33 Translate Introducing Hooks
  content/docs/hooks-intro.md
Labels: ready to merge

#95 Translate state-and -lifecycle
  content/docs/state-and-lifecycle.md
Labels: ready to merge

#113 Translate FAQ > Virtual DOM and Internals
  content/docs/faq-internals.md
Labels: needs +1 approval, needs author response

#101 Translated Add React to a Website.
  content/docs/add-react-to-a-website.md
Labels: needs +1 approval, ready to merge

#76 Translation for React.Component
  content/docs/reference-react-component.md
Labels: needs +1 approval

#46 Translate Accessibility
  content/docs/accessibility.md
Labels: ready to merge

#47 Translate Strict Mode
  content/docs/strict-mode.md
Labels: ready to merge

#64 create-a-new-react-app.md Translation
  content/docs/create-a-new-react-app.md
Labels: ready to merge

#102 Translate FAQ > Component State
  content/docs/faq-state.md
Labels: needs +1 approval
