Repository reactjs/ko.react.dev, pull requests merged in 2021-12, with the labels that each got.

#384 Translate start a new react project
  beta/src/pages/learn/start-a-new-react-project.md
Labels: beta

#377 Translate document to korean (Javascript in jsx with curly braces)
  beta/src/pages/learn/javascript-in-jsx-with-curly-braces.md
  beta/src/sidebarLearn.json
Labels: beta

#380 cross-origin-errors kr translate
  content/docs/cross-origin-errors.md
Labels: ready to merge

#383 Translate component text to korean
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/Layout/Toc.tsx
  beta/src/components/MDX/Challenges/Challenges.tsx
  beta/src/components/MDX/ExpandableCallout.tsx
  beta/src/components/MDX/ExpandableExample.tsx
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/components/MDX/Recap.tsx
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/YouWillLearnCard.tsx
  beta/src/components/Tag.tsx
Labels: needs review, beta

#381 Translate document to korean ( Add React to a Website )
  beta/src/pages/learn/add-react-to-a-website.md
Labels: ready to merge, beta

#385 Translate editor setup to korean
  beta/src/pages/learn/editor-setup.md
Labels: ready to merge, beta

#386 Translate 'Installation'
  beta/src/pages/learn/installation.md
Labels: needs review, beta

#391 Translate: 'extracting state logic into a reducer' section
  beta/src/pages/learn/extracting-state-logic-into-a-reducer.md
  beta/src/sidebarLearn.json
Labels: ready to merge, beta

#397 Correct a typo
  content/docs/hooks-intro.md
Labels: ready to merge

#387 Translate: manipulating-the-dom-with-refs
  beta/src/pages/learn/manipulating-the-dom-with-refs.md
Labels: ready to merge, beta

#398 Sharing state between components 번역
  beta/src/pages/learn/sharing-state-between-components.md
Labels: ready to merge

#388 Translate "updating arrays in state" section
  beta/src/pages/learn/updating-arrays-in-state.md
Labels: ready to merge, beta

#390 thinking-in-react 번역 초안 작성
  beta/src/pages/learn/thinking-in-react.md
Labels: ready to merge, beta
