Repository reactjs/ko.react.dev, pull requests merged in 2022-05, with the labels that each got.

#456 Remove conflict data
  beta/package.json
  beta/src/components/MDX/MDXComponents.tsx
  beta/src/pages/learn/thinking-in-react.md
  beta/src/pages/learn/updating-arrays-in-state.md
  beta/yarn.lock
  content/warnings/unknown-prop.md
Labels: beta

#447 Translate reacting-to-input-with-state
  beta/src/pages/learn/reacting-to-input-with-state.md
Labels: needs review, beta

#408 Translate "updating objects in state"
  beta/src/pages/learn/updating-objects-in-state.md
Labels: needs review, beta

#400 Translate passing data deeply with context
  beta/src/pages/learn/passing-data-deeply-with-context.md
Labels: needs review, needs author response, beta

#464 fix: resolve head conflict
  beta/package.json
  beta/patches/@codesandbox+sandpack-react+0.19.8-experimental.0.patch
  beta/plugins/sandbox-templates/cra/package.json
  beta/plugins/sandbox-templates/cra/public/index.html
  beta/plugins/sandbox-templates/cra/src/App.js
  beta/plugins/sandbox-templates/cra/src/index.js
  beta/plugins/sandbox-templates/cra/src/styles.css
  beta/src/components/Layout/MarkdownPage.tsx
  beta/src/components/MDX/Challenges/Challenges.tsx
  beta/src/components/MDX/Diagram.tsx
  beta/src/components/MDX/ExpandableCallout.tsx
  beta/src/components/MDX/Sandpack/CustomPreset.tsx
  beta/src/components/MDX/Sandpack/Preview.tsx
  beta/src/components/MDX/Sandpack/SandpackRoot.tsx
  beta/src/components/MDX/Sandpack/eslint-integration.tsx
  beta/src/components/MDX/Sandpack/utils.ts
  beta/src/pages/learn/add-react-to-a-website.md
  beta/src/pages/learn/editor-setup.md
  beta/src/pages/learn/extracting-state-logic-into-a-reducer.md
  beta/src/pages/learn/manipulating-the-dom-with-refs.md
  beta/src/pages/learn/preserving-and-resetting-state.md
  beta/src/pages/learn/render-and-commit.md
  beta/src/pages/learn/scaling-up-with-reducer-and-context.md
  beta/src/pages/learn/sharing-state-between-components.md
  beta/src/pages/learn/start-a-new-react-project.md
  beta/src/pages/learn/thinking-in-react.md
  beta/src/pages/learn/writing-markup-with-jsx.md
  beta/yarn.lock
  content/docs/add-react-to-a-website.md
  content/docs/concurrent-mode-patterns.md
  content/docs/concurrent-mode-suspense.md
  content/docs/hooks-faq.md
  content/docs/hooks-reference.md
  content/docs/hooks-state.md
  content/docs/how-to-contribute.md
  content/tutorial/tutorial.md
  content/warnings/invalid-aria-prop.md
  lint-staged.config.js
  package.json
  yarn.lock
Labels: beta
