Repository reactjs/ko.react.dev, pull requests merged in 2022-01, with the labels that each got.

#393 Translate : 'writing markup with jsx' section
  beta/src/pages/learn/writing-markup-with-jsx.md
Labels: beta

#403 Referencing Values with Refs 번역
  beta/src/pages/learn/referencing-values-with-refs.md
  beta/src/sidebarLearn.json
Labels: beta

#389 preserving and resetting state 번역
  beta/src/pages/learn/preserving-and-resetting-state.md
Labels: ready to merge, beta

#394 Render-and-Commit 번역
  beta/src/pages/learn/render-and-commit.md
Labels: needs review, beta

#395 Translate : Rendering Lists
  beta/src/pages/learn/rendering-lists.md
Labels: needs review, beta

#396 State As a Snapshot 번역
  beta/src/pages/learn/state-as-a-snapshot.md
Labels: needs review, beta

#405 Translate importing and exporting components
  beta/src/pages/learn/importing-and-exporting-components.md
Labels: needs author response, beta
