Repository reactjs/ko.react.dev, pull requests merged in 2023-07, with the labels that each got.

#692 Translate: findDOMNode
  src/content/reference/react-dom/findDOMNode.md
Labels: needs author response

#677 Translate: createElement
  src/content/reference/react/createElement.md
Labels: needs review

#685 Translate: Fragment
  src/content/reference/react/Fragment.md
Labels: needs review

#688 Translate: option
  src/content/reference/react-dom/components/option.md
Labels: needs review, needs author response

#690 Translate: useContext
  src/content/reference/react/useContext.md
Labels: needs review

#691 Translate: tutorial-tic-tac-toe
  src/content/learn/tutorial-tic-tac-toe.md
Labels: needs review

#697 Translate sidebar
  src/content/learn/javascript-in-jsx-with-curly-braces.md
  src/content/learn/reusing-logic-with-custom-hooks.md
  src/content/learn/your-first-component.md
  src/sidebarBlog.json
  src/sidebarCommunity.json
  src/sidebarHome.json
  src/sidebarLearn.json
  src/sidebarReference.json
Labels: ready to merge

#693 Translate: Adding Interactivity
  src/content/learn/adding-interactivity.md
Labels: ready to merge

#696 Translate: Blog/React Labs – June 2022
  src/content/blog/2022/06/15/react-labs-what-we-have-been-working-on-june-2022.md
Labels: needs author response

#703 Translate: blog - ntroducing Zero-Bundle-Size React Server Components
  src/content/blog/2020/12/21/data-fetching-with-react-server-components.md
Labels: needs review

#698 Translate/create portal
  src/content/reference/react-dom/createPortal.md
Labels: needs author response
