Repository reactjs/ko.react.dev, pull requests merged in 2023-05, with the labels that each got.

#602 Create CODEOWNERS
  .github/CODEOWNERS
Labels: needs review

#600 Translate : ClientAPIs
  src/content/reference/react-dom/client/index.md
Labels: ready to merge

#593 Translate: 'react: APIs' Page
  src/content/reference/react/apis.md
Labels: needs author response

#595 Translate: renderToStaticMarkup
  src/content/reference/react-dom/server/renderToStaticMarkup.md
Labels: ready to merge

#599 Translate: Main content
  src/components/Layout/HomeContent.js
  src/components/Layout/TopNav/TopNav.tsx
Labels: needs review, ready to merge

#597 Translate: <select>
  src/content/reference/react-dom/components/select.md
Labels: ready to merge

#605 Translate: <textarea>
  src/content/reference/react-dom/components/textarea.md
Labels: ready to merge

#607 Translate: <progress>
  src/content/reference/react-dom/components/progress.md
Labels: ready to merge

#608 Translate: <React Developer Tools>
  src/content/learn/react-developer-tools.md
Labels: ready to merge

#612 Translate : useCallback
  src/content/reference/react/useCallback.md
Labels: ready to merge

#621 Translate : You might not need an effect
  src/content/learn/you-might-not-need-an-effect.md
Labels: needs author response

#616 Translate: isValidElement
  src/content/reference/react/isValidElement.md
Labels: needs author response

#609 Translate: useTransition
  src/content/reference/react/useTransition.md
Labels: needs author response

#619 Translate: useSyncExternalStore
  src/content/reference/react/useSyncExternalStore.md
Labels: needs author response

#624 Translate: hydrateRoot
  src/content/reference/react-dom/client/hydrateRoot.md
Labels: needs review

#633 translate:queueing a series of state updates
  src/content/learn/queueing-a-series-of-state-updates.md
Labels: needs author response

#660 Translate: creatRef
  src/content/reference/react/createRef.md
Labels: needs author response

#622 [translate] useInsertionEffect.md
  src/components/MDX/ExpandableCallout.tsx
  src/content/reference/react/useInsertionEffect.md
Labels: needs author response

#640 Translate: Scraling up with reducer and context
  src/content/learn/managing-state.md
Labels: needs author response

#653 Translate: Preserving and Resetting state
  src/content/learn/preserving-and-resetting-state.md
Labels: needs author response

#634 translate: memo
  src/content/reference/react/memo.md
Labels: needs author response

#642 Translate : State as a snapshot
  src/content/learn/state-as-a-snapshot.md
Labels: needs author response

#645 Translate: Your First Component
  src/content/learn/your-first-component.md
Labels: needs author response

#648 Translate: Common components (e.g. <div>)
  src/content/reference/react-dom/components/common.md
Labels: needs author response

#657 Translate: createRoot
  src/content/reference/react-dom/client/createRoot.md
Labels: needs author response

#649 Translate: Start a New React Project
  src/content/learn/start-a-new-react-project.md
Labels: needs review

#641 Translate: renderToNodeStream
  src/content/reference/react-dom/server/renderToNodeStream.md
Labels: needs author response

#650 Translate : Updating arrays in state
  src/content/learn/updating-arrays-in-state.md
Labels: needs author response
