Repository reactjs/ko.react.dev, pull requests merged in 2023-06, with the labels that each got.

#655 Translate: createFactory
  src/content/reference/react/createFactory.md
Labels: needs author response

#667 Translate: useCallback
  src/content/reference/react/useCallback.md
Labels: needs review, ready to merge

#679 Translate: react labs what we have been working on march 2023
  src/content/blog/2023/03/22/react-labs-what-we-have-been-working-on-march-2023.md
Labels: needs review

#681 Translate: Component
  src/content/reference/react/Component.md
Labels: ready to merge

#672 Translate: Managing State
  src/content/learn/managing-state.md
Labels: ready to merge

#674 Translate/warnings
  src/content/warnings/invalid-aria-prop.md
  src/content/warnings/invalid-hook-call-warning.md
  src/content/warnings/special-props.md
  src/content/warnings/unknown-prop.md
Labels: needs author response

#658 Translate: seperating events from effects
  src/content/learn/separating-events-from-effects.md
Labels: ready to merge

#682 Translate: Hooks
  src/content/reference/react/index.md
Labels: needs review, needs author response

#683 Translate/Thinking In React
  src/content/learn/thinking-in-react.md
Labels: needs author response

#654 Translate: Removing effect dependencies
  src/content/learn/removing-effect-dependencies.md
Labels: needs author response

#666 Translate: <input>
  src/content/reference/react-dom/components/input.md
Labels: needs author response

#687 Translate: React Conf 2021 Recap
  src/content/blog/2021/12/17/react-conf-2021-recap.md
Labels: needs review, needs author response

#680 Translate: cloneElement
  src/content/reference/react/cloneElement.md
Labels: needs author response

#670 Translate: Installation
  src/content/learn/installation.md
Labels: needs author response
